@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
body{
    color: white;
    background-color: black;
    font-family: sans-serif;
}
.container{
    width: 100%;
    height: 100vh;

}
header{
    display: flex;
    width: 100%;
    height: 40px;
   

    flex-direction: row;
    justify-content: space-between;
   
    font-size: 16px;
   padding-bottom: 20px;
    border-bottom: 2px solid white;
}

header .sign{
    display: flex;
    
    flex-direction: row;
    
}

header  p{
    margin:20px;
   
}

.container .details{
    margin-top: 100px;
    margin-left: 130px;
}
.container .details h1{
    margin-bottom: 30px;
}
.container .details .profile-detail{
    display: flex;
    flex-direction: column;
}
.container .details .profile-detail div{
   
    height: 40px;
    margin-top: 15px;
    font-size: 16px;
    display: flex;
}
.container .details div p{
    width: 150px;
}

.container button{
    width: 130px;
    height: 35px;
    margin-left: 130px;
    margin-top: 20px;
    cursor: pointer;
}